/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: persian1;
    src: url('./assets/Fonts/1.woff2');
}
@font-face {
    font-family: persian2;
    src: url('./assets/Fonts/2.woff2');
}
